/**/*.ilg
/**/*.nlo
/**/*.nls
/**/*.out
/**/*.bbl
/**/*.log
/**/*.nav
/**/*.aux
/**/*.snm
/**/*.toc
/**/*.bcf
/**/*.run.xml
/**/pykz_custom.py
/**/result.tex
/**/*.pyc
/**/*pdf
!/**/scp.*
/**/#*#
/**/*.synctex.gz
/**/auto/
